<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guilty_Gear_Strive_MM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Guilty_Gear_Strive_Mod_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Guilty_Gear_Strive_MM.Properties.Settings>
            <setting name="PacksPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HideOnPlay" serializeAs="String">
                <value>True</value>
            </setting>
        </Guilty_Gear_Strive_MM.Properties.Settings>
        <Guilty_Gear_Strive_Mod_Manager.Properties.Settings>
            <setting name="PacksPath" serializeAs="String">
                <value />
            </setting>
        </Guilty_Gear_Strive_Mod_Manager.Properties.Settings>
    </userSettings>
</configuration>